/* Pour aller chercher d'autres couleurs: https://coolors.co/f2d055 */

body {
    background: #ccc;
    color: #fff;
    Font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 18px;
}

body p {
        font-size: 110%;
}

a {
        color: #e0917b;
        text-decoration: none;
}
a:visited {
        color: #bc6f5b;
}
a:hover {
        color: #f2d055;
        text-decoration: underline;
}

#main {
    background: #262626;
    max-width: 1400px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
}

#middle {
    margin: 1em;
    flex-grow: 1;
}

#map {
    background: #3a3a3a;
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
}


#head, #footer {
    padding: 0.2em 1em;
    text-align: center;
}

#indices p {
    display: none;
}

#indices p.selected {
    display: inline;
}

.intro {
    font-variant: small-caps;
    color: #f2d055;
    font-weight: bold;
}

p#petites-lignes {
    font-size: 50%;
    color: #ddd;
}

#formulaire {
    flex-direction: row;
    display: flex;
}

button {
    font-size: 150%;
    background: #e0917b;
    color: #000;
    border: 0;
    border-radius: 0.2em;
    padding: 0 0.5em;
}

button:focus {
    background: #f2d055;
}

button:hover {
    cursor: pointer;
}

input {
    font-size: 150%;
    border: 0;
    border-radius: 0.2em;
    background: #3a3a3a;
    color: #fff;
    padding: 0 0.5em;
}

#niveaux {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#niveaux span {
    display: none;
}

#niveaux span.selected {
    display: inline;
}

.reponse {
    display: none;
}

#attente {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 8em;
    height: 1em;
    margin: auto;
    z-index: 1000;
    background: #262626;
    padding: 2em 5em;
    font-size: 130%;
    border-radius: 1em;
    text-align: center;
}

@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px; */
    #main { max-width: 1000px; }
    body {    font-size: 135%; }
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
    #main { max-width: 1400px; }
    body {    font-size: 150%; }
}

@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
    #main { max-width: 1600px; }
}
@media only screen and ((max-device-width:480px) or (max-width:480px)) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    #main { max-width: 440px; }
    body {    font-size: 80%; }
}
@media only screen and (max-device-width:768px){
    /* default iPad screens */
    #main { max-width: 740px; }
    body {    font-size: 90%; }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    #main { max-width: 1000px; }
    body {    font-size: 90%; }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    #main { max-width: 900px; }
    body {    font-size: 110%; }
}

    
